################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C#/v16
/KyThuatDoHoa_Nhom9/.vs/KyThuatDoHoa_Nhom9/v16
